<ion-header>
  <ion-toolbar>
    <ion-title>hoteles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><b>Los mejores Hoteles y Cabañas San Cipriano</b></h1> 
    <h4>Disfruta de la comodida y ambiente familiar en los hoteles y cabañas de Sancipriano en donde encontraras la tranquilidad, el silencio y la seguridad que necesitas para disfrutar con tus seres queridos</h4>
  </ion-card>
  <ion-card>
    <h1>Cabaña Maria</h1>
    <img src='../../assets/img/Hoteles/14844955125_afcabcd9b5_b.jpg'>
    <h1>Hotel Relief</h1>
    <img src='../../assets/img/Hoteles/Hotel Relief.png'>
    <h1>Lo mejor de Don Halo</h1>
    <img src='../../assets/img/Hoteles/cabaña hato.jpg'>
  </ion-card>
  <app-menu></app-menu>
</ion-content>
