<ion-header>
  <ion-toolbar>
    <ion-title>Contactar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-list>
      <ion-list-header> Contactos </ion-list-header>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="https://i.pravatar.cc/?img=1" />
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>Soy un gran problema</h3>
          <p>Escucha, he tenido un día bastante desordenado... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src='https://i.pravatar.cc/300'>
        </ion-avatar>
        <ion-label>
          <h2>Han</h2>
          <h3>Mira, chaval... </h3>
          <p> Tengo suficiente en mi plato tal como está, y yo ... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-rey.png" />
        </ion-avatar>
        <ion-label>
          <h2>Rey</h2>
          <h3>Puedo manejarme a mí mismo</h3>
          <p>Eliminarás estas restricciones y te irás... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-luke.png" />
        </ion-avatar>
        <ion-label>
          <h2>El </h2>
          <h3>Tu pensamientos te traicionan</h3>
          <p> Siento lo bueno en ti, el conflicto... </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header> Online </ion-list-header>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-poe.png" />
        </ion-avatar>
        <ion-label>
          <h2>Poe</h2>
          <h3>Nuevo viaje</h3>
          <p>Acabo de actualizar mi X-Wing. La próxima vez... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-ben.png" />
        </ion-avatar>
        <ion-label>
          <h2>Ben</h2>
          <h3>Muerce a lo largo</h3>
          <p>Estos no son los droides que estás buscando... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-leia.png" />
        </ion-avatar>
        <ion-label>
          <h2>Leia</h2>
          <h3>Soy mi única esperanza</h3>
          <p>He puesto la información vital para la supervivencia... </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="inicio">
          <img src="./avatar-yoda.png" />
        </ion-avatar>
        <ion-label>
          <h2>Yoda</h2>
          <h3>Size no importa</h3>
          <p>Haga o no lo haga. No hay intento... </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <app-menu></app-menu>
</ion-content>
