<ion-header>
  <ion-toolbar>
    <ion-title>ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><b>¿Cómo llegar a San Cipriano?</b></h1> 
    <h4>En carro o buseta desde Cali hay que ir por la vía de Buenaventura y desviarse por los corregimiento Córdoba (Vía al Mar – Kilómetro 27), desde allí esperan los nativos para llegar al destino a través de «Brujitas«, que tienen un costo de unos $10.000 ida y vuelta. Se encuentra a unas 3 horas desde Buga y a unas 2 horas y media de Cali conduciendo y el transporte en buseta sale por menos de $25.000.</h4>
  </ion-card>
  <ion-card>
    <h1>Brujitas</h1>
    <img src='../../assets/img/Como llegar/1.jpg'>
    
    <img src='../../assets/img/Como llegar/2.jpg'>
    
    <img src='../../assets/img/Como llegar/3.jpg'>
    
    <img src='../../assets/img/Como llegar/4.jpg'>
  </ion-card>
  <app-menu></app-menu>
</ion-content>
