<ion-header>
  <ion-toolbar>
    <ion-title>Restaurantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><b>Dónde comer en San Cipriano</b></h1> 
    <h4>El plato típico es el encocado de camarón, una crema exquisita que lleva yuca, plátano o papa y por lo menos cinco camarones, que se acompaña con arroz, rodajas de tomate y limonada fría. En los fogones de leña también se cocinan exquisitos sancochos de gallina, pescados, mariscos y pollo. Ahí no termina el paseo. Se puede regresar al río cuantas veces quiera o pegarse una bailadita en algunas de las discotecas. En San Cipriano no hay horarios.
    </h4>
  </ion-card>
  <ion-card>
    <h1>Zona de Restaurantes</h1>
    <img src='../../assets/img/Restaurantes/calle restau.jpg'>
    <h1>Platos esquisitos</h1>
    <img src='../../assets/img/Restaurantes/piangua.jpg'>
    <img src='../../assets/img/Restaurantes/buenaventura-reserva-natural-san-cipriano-turismo-colombia-aventura-10.jpg'>
    <h1>Las Delicias de Heulalia</h1>
    <img src='../../assets/img/Restaurantes/eulalia.jpg'>
    <h1>Lo mejor de Don Halo</h1>
    <img src='../../assets/img/Restaurantes/don Hato.jpg'>
  </ion-card>
  <app-menu></app-menu>
</ion-content>
