<ion-header>
  <ion-toolbar>
    <ion-title>Playas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1><b>Playas San Cipriano</b></h1> 
    <h4>Disfruta de nuestras hermosas aguas cristalinas, sus cascajas y su grandiosa fauna</h4>
  </ion-card>
  <ion-card>
    <h1>Zona 1</h1>
    <img src='../../assets/img/Playas/1.jpg'>
    <h1>Zona 2</h1>
    <img src='../../assets/img/Playas/2.jpg'>
    <h1>Zona 3</h1>
    <img src='../../assets/img/Playas/3.jpg'>
    <h1>Zona 4</h1>
    <img src='../../assets/img/Playas/4.jpg'>
  </ion-card>
  <app-menu></app-menu>
</ion-content>
