<ion-header>
  <ion-toolbar>
    <ion-title>conocenos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <h1><b>Reserva Natural Río San Cipriano, es un hermoso bosque tropical adornado con senderos, cascadas y charcos aptos para clavar y caretear</b></h1>
    <h4>forestal tiene aproximadamente 8.570 has, con un ecosistema de bosque muy húmedo tropical, enclavada en la zona del Pacífico Colombiano, considerada y clasificada como la cuarta zona más húmeda y lluviosa del mundo, lo que hace de San Cipriano uno de los sitios turísticos más ricos en hidrología de la zona. El sector de Córdoba y el sector de la Bodega corresponden a las comunidades que habitan las dos entradas a la zona de reserva, donde habitan alrededor de 570 personas.
      
    </h4>
  </ion-card>
    <ion-card>
    <h2><b>Turismo en San Cipriano, Buenaventura</b></h2>
    <h4>San Cipriano es uno de los atractivos turísticos más importantes del Valle del Cauca. 
      Es una reserva forestal que impresiona por la pureza de sus aguas cristalinas, 
      que hacen de ella un importante destino para disfrutar de una belleza natural que se 
      }encuentra en medio de una selva espesa, con cascadas y 7 charcos con profundidades diferentes. 
      Para el año 2012 recibió cerca de 4.800 turistas, siendo el Eco-Turismo y sus servicios 
      relacionados la principal actividad productiva para la generación de ingresos de toda la comunidad.
    </h4>
    </ion-card>
  <app-menu></app-menu>
</ion-content>
